* {
  box-sizing: border-box;
  font-family: Poppins;
}

/* Light mode 
@media (prefers-color-scheme: light) {
  :root {
    --background: #EFF2EB;
    --dark-accent: #a5ae9e;
    --light-accent: #bf994c;
    color: black;
  }
}
*/

/* Dark mode 
@media (prefers-color-scheme: dark) {
  :root {
    color: white;
    --background: #121212 ;
    --dark-accent: #eff2eb;
    --light-accent: #bf994c;
      
  }
}
*/
:root {
  --background: #EFF2EB;
  --light-background: #F4EDE7;
  --dark-accent: #a5ae9e;
  --light-accent: #bf994c;
  color: black;
}
body {
  margin: 0;
  background: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 0.75em;
}
footer {
  width: 100%;
  background-color: var(--background);
  bottom: 0;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}
a{
  text-decoration: none;
}
.fa {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.links-container {
  background-color: var(--background);
  box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.15);
  padding: 2em;
  width: 100vw;
  max-width: 400px;
  min-height: 100vh;
  text-align: center;
}
.profile {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 50%;
  width: 10em;
  max-width: 120px;

}
.handle{
  padding-top: 10px;
  font-size: 16px;
  font-weight: bolder;
}
.socials {
  font-size: 2em;
  padding: 20px
}
.logo {
  width: 20%;
}
.card{
  width: 100%;
  background-color: var(--background);
  box-shadow: rgb(255 255 250) -5px -5px 13px, rgb(201 197 189) 5px 5px 13px;
  border-width: 0px;
  border-radius: 5.6px;
  margin-bottom: 26px;
  margin-right: 0px;
  min-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
.card-image-top{
  width: 100%;
  border-top-left-radius: 5.6px;
  border-top-right-radius: 5.6px;
  padding-bottom: 10px;
}
.big-card{
  display: flex;
  flex-direction: column;
  padding: 0px;
  padding-bottom: 10px;
}
.card-image-left{
  width: 150px;
  border-top-left-radius: 5.6px;
  border-bottom-left-radius: 5.6px;
}
.card-image-right{
  width: 150px;
  border-top-right-radius: 5.6px;
  border-bottom-right-radius: 5.6px;
}
.card-content-right{
padding: 10px;
width: 100%;
display: flex;
align-items: right;
justify-content: center;
flex-direction: column;
border-top-right-radius: 5.6px;
border-bottom-right-radius: 5.6px;
}
.card-content-left{
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  border-top-left-radius: 5.6px;
  border-bottom-left-radius: 5.6px;

  }
  .card-content-left div{
    text-align: right;

  }
  .card-content-right div{
    text-align: left;

  }
.title{
  font-weight: bolder;
}
.title-card{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.button{
  color: white;
  font-weight: bolder;
  padding: 10px 20px 10px 20px;
  background-color: var(--light-accent);
  width: 150px;
  margin: auto;
  border-radius: 4px;
}



.sales-container {
  background-color: var(--background);
  box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.15);
  width: 100vw;
  max-width: 400px;
  min-height: 100vh;
  text-align: center;
}
section{
  background-color: var(--background);
  height: 100vh;
}
section:nth-child(2) {
  background-color: var(--light-background);
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    max-width: 533px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 533px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 533px;
  }
}