* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  body{
    background: whitesmoke;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.card{
  margin: 20px;
  width: 90%;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 5px 10px #888888;
}