* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: yellow; /* fallback for older browsers */
  background: -webkit-linear-gradient(to bottom, yellow, green);
  /* Chrome 10-25, Safari 5.1-6*/
  background: linear-gradient(to bottom, yellow, green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overscroll-behavior: contain;
}

h1{
color: white;
}
#logo{
  width: 200px;
  border-radius: 50%;
}

#projects {
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: 100%; */
}
button{
  background-color: #383838;
  color: white;
  border: none;
  min-height: 60px;
  min-width: 120px;  
  margin-top: 5px;
}
.fa{
  padding-top: 20px;
  font-size: 2em!important;
  text-decoration: none;
  color: #55ACEE;
}

