* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: yellow; /* fallback for older browsers */
  background: -webkit-linear-gradient(to right, yellow, green);
  /* Chrome 10-25, Safari 5.1-6*/
  background: linear-gradient(to right, yellow, green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
color: white;
}
