* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
}
body {

  background: whitesmoke;
  color: #333333;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}

#grid>div {
  font-size: 30px;
  padding: .5em;
  color: black;

  border: 1px solid black;
  text-align: center;
}