* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kalam", cursive;
}
:root {
  --highlight-color: #302ae6;
  --font-color: #424242;
  --bg-color: #fff;
}
[data-theme="dark"] {
  --highlight-color: #5E183A;
  --font-color: #f2e7fe;
  --bg-color: #161625;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: var(--bg-color);
  color: var(--font-color);
  width: 100%;
  max-width: 600px;
}

header {
  display: flex;
  align-items: right;
  justify-content: right;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  padding: 0.5em;
}
footer {
  display: flex;
  align-items: right;
  justify-content: right;
  flex-direction: row;
}
i {
  font-size: 2em !important;
  margin: 5px;
}

/* #my-projects{
  background-color: lightgrey;
}
#external-projects{
  background-color: grey;
}
#website-projects{
  background-color: lightgrey;
} */

#my-links-title{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;

}


#my-links-description{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
#link-title-left {
  position: absolute;
  margin-top: -45px;
  border: 1px solid var(--font-color);
  transform: rotate(-10deg);
  font-size: 1em;
  background-color: var(--bg-color);
  padding-left: 0.5em;
  padding-right: 0.5em;
  /* background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
    background-size: 12px, 100%; */
}

.slide-left {
  -webkit-animation: slideInLeft 2s forwards;
  -moz-animation: slideInLeft 2s forwards;
  animation: slideInLeft 2s forwards;
}
.slide-right {
  -webkit-animation: slideInRight 2s forwards;
  -moz-animation: slideInRight 2s forwards;
  animation: slideInRight 2s forwards;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 0.5em;
}
.links > .link {
  font-size: 2em;
  padding: 0.5em;
  border-radius: 20px;
  text-align: center;
  min-height: 100px;
  width: 100%;
  margin-bottom: 1.5em;
  box-shadow: 1px 1px 1px 1px var(--font-color);
}
.link > p {
  font-size: 0.5em;
}
.links > .my-link {
  font-size: 2em;
  padding: 0.5em;
  border-radius: 20px;
  text-align: center;
  min-height: 100px;
  width: 100%;
  margin-bottom: 0.1em;
  box-shadow: 1px 1px 1px 1px var(--font-color);
}
.my-link > p {
  font-size: 0.5em;
}
a {
  
  color: inherit;
  text-decoration: none;
}

#link-description {
  padding-top: 1.75em;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

#heading {
  width: 100%;
  align-items: left;
  justify-content: left;
  padding-bottom: 1.5em;
}
#first-heading{
  width: 100%;
  align-items: left;
  justify-content: left;
}


.bio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 0.5em;
  padding-bottom: 3em;
}
#profile-pic {
  border-radius: 50%;
  max-width: 100px;
  
}

.grow:hover { 
  -webkit-transform: scale(1.2);
  transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2); /* IE 9 */
  -webkit-transform: scale(1.2,1.2); /* Safari and Chrome */
}
.bio > p {
  font-family: Arial, Helvetica, sans-serif;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--highlight-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Animation stuff */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
    opacity: 0;
  }
  15% {
    transform: rotateZ(-15deg);
    opacity: 1;
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

.wiggle {
  animation: wiggle 2s forwards linear;
}

/* Animation stuff */
@-webkit-keyframes slideInLeft {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInLeft {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}


