* {
  background-color: black;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
}
:root {
  --bbcred: #B80000;
}
header {
  width: 100%;
  background-color: var(--bbcred);
  display: inline-block;
  height: 2.5em;
  padding: 0.5em;
}

header p {
  background-color: var(--bbcred);
  width: 40%;
  float: right;
  color: white;
  text-align: right;
  padding-top: 0.25em;
  
}
.logo {
  background-color: var(--bbcred);
  color: white;
  fill: white;
  width: 50%;
  float: left;
}

.article {
  display: grid;
  padding: 0.5em;
}
.headline {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bolder;
  font-size: larger;
}
.summary {
  text-align: left;
  padding-bottom: 1em;
  padding-top: 2em;
  color: whitesmoke;
}
a{
  text-decoration: none;
}
.copy {
  background-color: #444444;
  color:whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
}
#next{
  opacity:    0.5; 
  background: #000; 
  width:      50%;
  height:     100%; 
  z-index:    -1;
  top:        0; 
  right:       0; 
  position:   fixed;
  border: none; 
}
#previous{
  opacity:    0.5; 
  background: #000; 
  width:      50%;
  height:     100%; 
  z-index:    -1;
  top:        0; 
  left:       0; 
  position:   fixed;
  border: none; 
}
#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid var(--bbcred); /* BBC Red */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin-left: 10em;
  left:0;
  right:0;
  top:200px;
  bottom:0;
  position:absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#counter{
  color: whitesmoke;
}