* {
  background-color: black;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
}
:root {
  --bbcred: #b80000;
}
header {
  width: 100%;
  background-color: var(--bbcred);
  display: inline-block;
  height: 2.5em;
  padding: 0.5em;
}

header p {
  background-color: var(--bbcred);
  width: 40%;
  float: right;
  color: white;
  text-align: right;
  padding-top: 0.25em;
}
.logo {
  background-color: var(--bbcred);
  color: white;
  fill: white;
  width: 50%;
  float: left;
}
#nav{
display: grid;
grid-template-columns: 33% 33% 33%
}
.article {
  display: grid;
  padding: 0.5em;
}
.headline {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bolder;
  font-size: larger;
}
.summary {
  text-align: left;
  padding-bottom: 1em;
  padding-top: 2em;
  color: whitesmoke;
}
a {
  text-decoration: none;
}
.copy {
  background-color: #444444;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
}
#next {
  background-color: var(--bbcred);
  border: none;
  color: white;
  height: 50px;
}
#previous {
  background-color: var(--bbcred);
  border: none;
  color: white;
  height: 50px;
}
#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid var(--bbcred); /* BBC Red */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin-left: 10em;
  left: 0;
  right: 0;
  top: 200px;
  bottom: 0;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#counter {
  color: whitesmoke;
}

.skiptranslate {
  width: 100vw !important;

  
  z-index: 1!important;
}
.goog-te-banner-frame {
  height: 7vh !important;
  bottom: 0%!important;
  background-image: none!important;
  background-color: #444444!important;
}
