* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  body{
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 768px;
  width: 100%;
  padding-left: 10px;
  
}
h6{
  font-size: 1.5em;
}
.status-panel{
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px
}
.activity-panel{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px
}

#tab-large{
  border-radius: 10px;
  padding: 10px;
  background-color: #7CEA9C;
}

.tab-small{
  border-radius: 10px;
  background-color: lightblue;
  padding: 10px;
}

@keyframes blink {50% { color: transparent }}
.loader__dot { 
  font-size: 64px;
  animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }
