* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: lightblue; /* fallback for older browsers */
  background: -webkit-linear-gradient(to right, lightblue, lightcoral);
  /* Chrome 10-25, Safari 5.1-6*/
  background: linear-gradient(to right, lightblue, lightcoral);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section {
  display: grid;
  grid-template-columns: repeat(5, 4.25rem);
  grid-template-rows: repeat(4, 4.25rem);
  grid-gap: 0.5rem;
  perspective: 800px;
}
.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(0, 0, 0, 0.2) 0px, 5px, 15px;
}
.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.back {
  background-color: white;
  backface-visibility: hidden;
}

.toggleCard {
  transform: rotateY(180deg);
}
.face {
  transform: rotateY(-180deg);
}

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: red;
  font-family: Creepy, serif;
  transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small {
  font-size: 0.3em;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}
@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 4em;
  }
}